server:
  port: 8091

spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/ss?characterEncoding=utf-8&useSSL=false&autoReconnect=true&rewriteBatchedStatements=true&serverTimezone=UTC
    username: root
    password: root

# mybatis-plus
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true

security:
  jwt:
    secretKey: whatever

