<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rudecrab.springsecurity.mapper.UserMapper">
    <!--查询用户分页信息-->
    <select id="selectPage" resultType="com.rudecrab.springsecurity.model.vo.UserPageVO">
        select
            id, username
        from
            user
        ${ew.customSqlSegment}
    </select>

    <!--根据用户名查询出用户实体对象-->
    <select id="selectByUsername" resultType="com.rudecrab.springsecurity.model.entity.UserEntity">
        select * from user where username = #{username}
    </select>
</mapper>